<!DOCTYPE html>
<html>
<head>
  <title>Chainub</title>
  <%= stylesheet_link_tag    "chainub/application", media: "all" %>
  <%= javascript_include_tag "chainub/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
